@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url(./Roboto-Bold.eot);
  src: url(./Roboto-Bold.eot?#iefix) format("embedded-opentype"),
    url(./Roboto-Bold.otf) format("otf"),
    url(./Roboto-Bold.svg#Roboto-Bold) format("svg"),
    url(./Roboto-Bold.ttf) format("truetype"),
    url(./Roboto-Bold.woff) format("woff"),
    url(./Roboto-Bold.woff2) format("woff2");
}
